body {
	background-image:url("../picture/timg.jpg");
	padding: 3rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}



.jumbotron .btn {

	font-size: 15px;
	padding: auto;
}




.btn {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	background-color: rgba(255,255,255,0.2);;
	color: aliceblue;
	font-size: 1px;
	text-align:center;
	border: 0;
	

}
.btn.btn-round {
	border-radius: 10px;
}



.btn-blue {
	background-color: #5bc0de;
	height: 50px;
	width: 90px;
	opacity: 20%;
}
.btn-dark {
	background-color:darkgray;
	height: 50px;
	width: 90px;
	opacity: 20%;
}






